.section {
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.heroSection {
  background-image: url("/honeycomb.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 90vh;
}

.heroSection h1 {
  color: black;
  font-size: 4vw;
  font-weight: 800;
}

.heroSection p {
  color: #475153;
  font-size: 0.9vw;
}
